# -- B003 Assigning to `os.environ` doesn't clear the environment.
# C408 Unnecessary dict call - rewrite as a literal.
# B010 Do not call setattr with a constant attribute value, it is not any safer than normal property access.
# F811 redefinition of unused
; F841 local variable is assigned to but never used
[flake8]
max-line-length = 120
max-complexity = 10
ignore = E203, E266, E501, W503, E501, F403, E712, C901, W605
select = B,C,E,F,W,T4,B9
per-file-ignores =
    tests/test_pydeequ.py: B003
    # For now, adding F405 to tests/* - TODO: Remove this later
    tests/*: F405, F811, F841
    # F811 redefinition of unused
    ; tests/test_checks.py: F811
    ; tests/test_repository.py: F811
